---
import About from '../components/About.astro';
import Project from '../components/Project.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Gonzalo Rosano | Inicio">
  <main class="mx-auto w-4/5 py-4">
    <About />
    <Project />
  </main>
</Layout>
