---

---

<section id="about" class="py-8 bg-gray-100">
  <div class="container mx-auto">
    <h2 class="text-3xl font-bold mb-4">Sobre Mí</h2>
    <p>
      Hola, soy Gonzalo Rosano, un apasionado desarrollador Front-End de
      Uruguay, específicamente de Flores. Disfruto explorar nuevas tecnologías y
      mantenerme al día con los avances en el ámbito tecnológico. Actualmente,
      estoy cursando el tercer año del bachillerato en Informática en UTU. Mi
      objetivo es seguir aprendiendo y creciendo en el campo del desarrollo web
      y contribuir a proyectos innovadores.
    </p>
  </div>
</section>
