---

---

<header
  class="flex flex-row w-4/5 mx-auto justify-between items-center py-4 px-7 border-b"
>
  <a class="text-2xl">Gonzalo Rosano</a>
  <nav class="flex justify-center">
    <ul class="flex justify-between space-x-6">
      <li><a href="/" class="hover:underline">Inicio</a></li>
      <li><a href="#about" class="hover:underline">Sobre Mí</a></li>
      <li><a href="#projects" class="hover:underline">Proyectos</a></li>
    </ul>
  </nav>
  <a href="#contact" class="justify-self-end">Contactame</a>
</header>
