---

---

<header class="bg-gray-800 text-white py-4">
  <nav class="container mx-auto">
    <ul class="flex justify-center space-x-6">
      <li><a href="/" class="hover:underline">Inicio</a></li>
      <li><a href="#about" class="hover:underline">Sobre Mí</a></li>
      <li><a href="#projects" class="hover:underline">Proyectos</a></li>
      <li><a href="#contact" class="hover:underline">Contacto</a></li>
    </ul>
  </nav>
</header>
