---
const { title } = Astro.props;
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="stylesheet" href="/global.css" />
  </head>
  <body class="font-sans flex flex-col min-h-screen">
    <Header />
    <main class="flex-grow container mx-auto p-4">
      <slot />
    </main>
    <Footer />
  </body>

  <style is:global>
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

    * {
      margin: 0;
      padding: 0;
      color: #fff;
      box-sizing: border-box;
    }
    html {
      scroll-behavior: smooth;
    }

    body {
      font-family: 'Quicksand', sans-serif;
      background-image: url('assets/bg.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  </style>
</html>
